# For Loop <hr style="border:2px solid #ff4fb0ff "><hr>

<b>Hazel Mae C. Jalandoni</b>
<br>Comp Eng Tech Student

# Iterating Over a List

In [6]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if (n % 2) == 0:
        print(n)

2
4
6
8
10

In [11]:
# List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if (n % 2) == 0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary

In [15]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [2]:
# key-value pair
employee = {'name':['Hazel', 'Cj'],
            'position':['analyst', 'developer'],
            'salary':[30000, 55000]}


for key in employee:
    print(key)

name
position
salary

In [3]:
employee['salary']

[30000, 55000]

In [4]:
for value in employee.values():
    print(value)

['Hazel', 'Cj']
['analyst', 'developer']
[30000, 55000]

# Lambda Function

In [ ]:
# Function Example
def mul_by_2(x):
    x = x * 2
    return x

mul_by_2(4)

8

In [ ]:
# Lambda Equivalent
y = 4
x = (lambda x : 2 * x)(y)
x

8

In [ ]:
# Data type of x
type(x)

int